body {
    font-family: Arial, sans-serif;
    background-color: #fffbfb;
    margin: 0;
    padding: 20px;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.book-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.book-card h3 {
    margin: 0 0 10px 0;
}

.book-card p {
    margin: 5px 0;
    color: #555;
}

#newBookBtn {
  padding: 10px 16px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

#newBookBtn:hover {
  background-color: #187bcd;
}
