body {
    font-family: Arial, sans-serif;
    background-color: #fffbfb;
    margin: 0;
    padding: 20px;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.book-card {
    background: linear-gradient(135deg, #4a90e2, #357ab8);
    color: white;
    border-radius: 6px 12px 6px 12px;
    padding: 20px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.book-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px 0 0 6px;
}


.book-card h3 {
    font-size : 1.2rem;
    margin: 0;
}

.book-card p {
    margin: 5px 0;
    font-size: 0.9rem;
    opacity : 0.9;
}

#newBookBtn {
  padding: 10px 16px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

#newBookBtn:hover {
  background-color: #187bcd;
}

.book-card button {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 5px;
}

.book-card button:first-of-type {
  background-color: #3d79b1;
  color: white;
}

.book-card button:last-of-type {
  background-color: white;
  color: #333;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 10px;
}
